html {
  color-scheme: light;
  background-color: var(--bg-2);
  display: grid;
  inset: 0;
  place-items: center;
}

body {
  height: 100vh;
  width: 100vw;
  inset: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

html.dark {
  background-color: var(--bg-2);
  color-scheme: dark;
}
