@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-bg-1: var(--bg-1);
  --color-bg-2: var(--bg-2);

  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);
  --color-text-3: var(--text-3);

  --color-border-1: var(--border-1);
  --color-border-2: var(--border-2);

  --color-overlay: var(--overlay);

  --color-primary-500: var(--primary-500);
  --color-primary-400: var(--primary-400);

  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-warning: var(--warning);

  --color-bg-success: var(--bg-success);
  --color-bg-danger: var(--bg-danger);
  --color-bg-warning: var(--bg-warning);

  --animate-popover-in: popOverIn 0.1s ease-in-out forwards;
  --animate-popover-out: popOverOut 0.1s ease-in-out forwards;
  --animate-dialog-in: dialogIn 0.2s ease-out forwards;
  --animate-dialog-out: dialogOut 0.15s ease-in forwards;
  --animate-overlay-in: overlayIn 0.2s ease-out forwards;
  --animate-overlay-out: overlayOut 0.15s ease-in forwards;
  --animate-slide-in: slideIn 0.2s ease-out forwards;
  --animate-hide: hide 0.15s ease-in forwards;
}

@keyframes popOverIn {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes popOverOut {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0.9;
  }
}

@keyframes dialogIn {
  from {
    opacity: 0;
    scale: 0.95;
    translate: -50% -48%;
  }
  to {
    opacity: 1;
    scale: 1;
    translate: -50% -50%;
  }
}

@keyframes dialogOut {
  from {
    opacity: 1;
    scale: 1;
    translate: -50% -50%;
  }
  to {
    opacity: 0;
    scale: 0.95;
    translate: -50% -48%;
  }
}

@keyframes overlayIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlayOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-text-2) var(--color-bg-1);
}
